@import "../../styles.scss";

.container {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background: $color-secondary;
}

.search-container input {
    border: none;
    outline: none;
    border-bottom: 1px solid $color-tertiary;
    background: transparent;
    padding: 5px;
}
