@import "../styles.scss";

#background {
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}

main {
    padding: 0 10px;
}

.letters {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    row-gap: 100px;
    padding: 20px;
}

@media only screen and (min-width: 1100px) {
    .letters {
        grid-template-columns: auto auto;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1600px) {
    .letters {
        grid-template-columns: auto auto auto;
    }
}
