<div id="background"></div>

<app-pagination
    [isPreviousButtonDisabled]="isPreviousButtonDisabled"
    (setPreviousPage)="previousPage()"
    (setNextPage)="nextPage()"
></app-pagination>

<main>
    <app-card *ngFor="let quote of filterQuotes() | async" [quote]="quote"></app-card>

    <div class="letters">
        <app-letter *ngFor="let quote of filterQuotes() | async" [quote]="quote"></app-letter>
    </div>
</main>

<app-pagination
    [isPreviousButtonDisabled]="isPreviousButtonDisabled"
    (setPreviousPage)="previousPage()"
    (setNextPage)="nextPage()"
></app-pagination>
