<div id="background"></div>

<app-topbar [searchValue]="searchValue" (searchValueChange)="handleSearchChange($event)"></app-topbar>
<!-- <input type="text" placeholder="Search..." [value]="searchValue" (keyup)="handleSearchChange()" /> -->

<app-pagination
    [isPreviousButtonDisabled]="isPreviousButtonDisabled"
    (setPreviousPage)="previousPage()"
    (setNextPage)="nextPage()"
></app-pagination>
{{ searchValue }}
<main>
    <app-card *ngFor="let quote of filterQuotes() | async" [quote]="quote"></app-card>

    <div class="letters">
        <app-letter *ngFor="let quote of filterQuotes() | async" [quote]="quote"></app-letter>
    </div>
</main>

<app-pagination
    [isPreviousButtonDisabled]="isPreviousButtonDisabled"
    (setPreviousPage)="previousPage()"
    (setNextPage)="nextPage()"
></app-pagination>
