<div class="letter-container">
    <div class="letter-body">
        <img src="../../assets/images/quote-1280x850.jpg" alt="letter-img" class="letter-img" />
        <div class="quote-en">
            {{ quote.en }}
        </div>
    </div>
    <div class="letter-bottom">
        <div>{{ quote.author }}</div>
        <!-- <div style="color: #333">1,902</div> -->
        <div class="icon-container" [ngStyle]="{ color: liked ? 'rgb(20, 80, 180)' : '#ccc' }" (click)="toggleLike()">
            <fa-icon [icon]="faThumbsUp"></fa-icon>
        </div>
    </div>
</div>
