@import "../../styles.scss";

.letter-container {
    display: none;
    width: 500px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
}

.letter-container:hover .letter-img {
    margin-left: -200px;
    margin-top: -100px;
    transform: rotateZ(9.4deg);
    width: 180%;
}

.letter-container:hover .quote-en {
    transform: rotateZ(0);
    font-size: 81.5%;
    margin-top: -420px;
    margin-left: 110px;
    width: 61%;
}

.letter-body {
    width: 100%;
    height: 380px;
    overflow: hidden;
}

.letter-img {
    transition: 0.3s;
    width: 160%;
    margin-left: -150px;
    margin-top: -90px;
}

.quote-en {
    border: solid transparent;
    transition: 0.3s;
    margin-top: -380px;
    margin-left: 120px;
    width: 60%;
    transform: rotateZ(-10deg);
    font-family: $font-manual-quote;
    font-size: 80%;
}

.letter-bottom {
    display: flex;
    align-items: center;
    height: 100px;
    font-size: 40px;
    gap: 20px;
    padding: 0 20px;
}

.letter-bottom div:nth-child(1) {
    font-size: 16px;
    flex: 1;
    color: $color-tertiary;
}

.likes {
    color: $color-tertiary;
}

.icon-container {
    color: #ccc;
    transition: 0.3s;
    cursor: pointer;
}

.icon-container:hover {
    color: $color-tertiary;
    transform: rotateZ(-20deg);
}

@media only screen and (min-width: 1000px) {
    .letter-container {
        display: block;
    }
}
