/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "IndieFlower";
    src: url("./assets/fonts/Indie_Flower/IndieFlower-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto/Roboto-Regular.ttf");
}

$font-manual-quote: IndieFlower;
$font-primary: Roboto;
$color-primary: #31e694;
$color-primary-hover: #208859;
$color-secondary: #fafafa;
$color-tertiary: #333;
$mobile-background: "./assets/images/quote-1280x850.jpg";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-primary, Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 999px) {
    body {
        background: url($mobile-background) fixed -150px -100px;
    }
}
